.userTable{
    width: 70%;
    background-color: white;
    box-shadow: 10px 10px 8px rgba(red, green, blue, alpha);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}
.userTable h2{
    color: yellowgreen;
}
.addButton{
    text-decoration: none;
    background-color: purple;
    color:white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(red, green, blue, alpha);
    border-radius: 5px;
    padding: 10px;
}
.userTable table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}
.userTable table thead th{
    background-color: blue;
    color: white;
    padding: 10px;
}
.userTable table tbody td{
    padding: 10px;
    text-align: center;
}
.actionButtons button{
    border:0;
    outline:none;
    background-color: red;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
}
.actionButtons a{
    background-color: cadetblue;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
} 